<br>
<!--<div class="row">
  <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title text-warning">Függő kérések</h1>
            <p class="card-text" id="fuggo-keresek">43214321</p>
          </div>
        </div>
  </div>
</div>-->

<hr/>
<h1>Termék kérések</h1>
<hr />
<div id="accordion">
  
</div>
<br>
<!--<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Előző</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Következő</a>
    </li>
  </ul>
</nav>-->